.page {
  display: none;
}

.visible {
  display: block;
}

/*

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px;
  overflow: auto;
  min-width: 1000px;
  min-hight: 500px;

} */

body {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 20px;
  overflow: auto; /* Scroll the body vertically if content exceeds viewport */
  min-width: 1000px;
  min-height: 500px;
  box-sizing: border-box;
}


#instructions {
  text-align: center;
  position: flex;
  background-color: #f0f0f0;
  padding: 10vh; 
  font-family: 'Calibri', sans-serif;  
  overflow: auto;

}

#instructions_neutral {
  text-align: center;
  position: flex;
  background-color: #f0f0f0;
  padding: 10vh; 
  font-family: 'Calibri', sans-serif;  
  overflow: auto;
}

.image {
  height: auto;
  margin: 5px;
  max-width: calc(15vw - 10px); /* Set a maximum width for responsiveness */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border: 1px solid black; /* Initial border color */

}

#imageContainer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#imageContainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#imageContainer3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#imageContainer4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#imageContainer7 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  margin-left: 5px;
  font-family: 'Calibri', sans-serif;  
}

/*
.button-container {

  position: absolute;
  padding: 10px;
  right: 50px;
  width: 100%;

}
*/

.button-container {

  display: flex; /* Use Flexbox */
  justify-content: flex-end; /* Align items to the right (horizontal axis) */
  /*margin-top: 10px;*/
  margin-right: 20px;*/
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%; /* Make sure the container takes up the full width */
  min-width: 500px;

}
.button-container-ratings {

  display: flex; /* Use Flexbox */
  justify-content: flex-end; /* Align items to the right (horizontal axis) */
  /*margin-top: 10px;*/
  /*margin-left: 10px;*/
  padding: 5px;
  width: 100%; /* Make sure the container takes up the full width */
  min-width: 500px;

}

#selection-info {

  font-size: 2.5em;
  font-family: 'Calibri', sans-serif;
  position: absolute; 
  left: 50px; 
  margin-top: 10px;

}

.center-text {
  display: flex;
  justify-content: center; 
  margin-top: 45vh;
  align-items: center;
  text-align: center;
  width: 70vw;
  font-size: 1em;
  min-width: 500px;
  font-family: 'Calibri', sans-serif;
  flex-direction: row;
  flex-wrap: nowrap; /* Prevent wrapping */
  height: auto;

}

.rate {

  text-align: center;
  font-size: 1em;
  font-family: 'Calibri', sans-serif;

}

#end {

  text-align: center;
  font-size: 1em;
  font-family: 'Calibri', sans-serif;

}



.image-rating-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  flex-wrap: nowrap; /* Prevent wrapping */
  height: auto; /* Ensure it can grow with the content */
}

.ratings-container,
.image-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
  height: auto; /* Let the height grow as needed */
  min-width: 500px;
  flex-shrink: 0; /* Prevent shrinking */
}

@media (max-width: 1000px) {
  .image-rating-container {
    flex-direction: row; /* Keep row direction */
    width: 100vw; /* Full width */
  }

  .ratings-container,
  .image-container {
    flex-basis: 50%;
    width: 50%;
    min-width: 500px;
  }
}


.image-container .rating-instructions {

  margin-top: 10px;
  font-size: 2em;
  font-family: 'Calibri', sans-serif;
  text-align: center;

}

.likert-scale-item {

  display: flex;
  flex-direction: column; /* Arrange elements vertically */
  align-items: center;    /* Center horizontally within the container */
  margin-left: 5px;
}

.likert-scale-container{

  margin-top: 10px;
  font-size: clamp(10px, 2vh, 14px);
  font-family: 'Calibri', sans-serif;
}

.likert-scale-wrapper {

  display: flex; 
  justify-content: center;
  margin-top: 5px;

}